<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gun Violence Dashboard</title>
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

</head>

<body>
    <div class="header-container">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <h3>
                        Mass Shootings in America
                    </h3>
                </div>
                <div class="col-md-6">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link " href="/">Map View</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/chart">Chart View</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/table">Table View</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container main-content">
        <form class="radio-btns">

            <div class="form-check form-check-inline ">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" checked
                    value="age">
                <label class="form-check-label" for="inlineRadio1">Shooter's Age</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="race">
                <label class="form-check-label" for="inlineRadio2">Shooter's Race</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="locationType">
                <label class="form-check-label" for="inlineRadio3">Location Type</label>
            </div>
        </form>
        <div class = 'container-fluid card' >
            <article>
                <h4 class = 'text-primary'>
                America's Gun Violence
                </h4>
      
                <p style = 'color:darkslateblue'>The breakdown of the number of incidents for the above selected category </p>
              </article>
          </div>
        <div class="show-data">
            <div id='result-div'>
                <!-- Plotly chart will be drawn inside this DIV -->
            </div>
        </div>
    </div>
</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
<script src='../static/js/main.js'></script>
<script>
    queryAll();
</script>

</html>